body {
    background-color: aqua;
}

#carosel_container {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 500px;
    height: 500px;
}

.carosel_btns {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: xx-large;
    color: white;
    z-index: 2;
    box-sizing: border-box;
    padding: 20px;
}

.carosel_dots {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    color: white;
    margin-top: 400px;
    z-index: 2;
}

.carosel_base {
    display: flex;
    gap: 10px;
}

.carosel_base img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}